@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes quick-zoom {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-quick-zoom {
  animation: quick-zoom 2s ease-in-out infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 3s ease-in forwards;
}
